WS_URL_SLASH = /
APP_DISPLAY_NAME = Photo G
APP_BUNDLE_IDENTIFIER = com.altarisgroup.photogstudio
APP_MARKETING_VERSION = 1.0
APP_CURRENT_PROJECT_VERSION = 3
WS_BACKEND_BASE_URL = https:$(WS_URL_SLASH)$(WS_URL_SLASH)wavespeed-desktop.vercel.app
WS_ENVIRONMENT_NAME = production
WS_SUBSCRIPTION_PRODUCT_IDS = com.altarisgroup.photogstudio.pro.monthly
